:root {
	--accent-color: #decd63;
	--swiper-theme-color: #333333 !important;
	--sidebar-width: 380px;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

html,
body {
	-webkit-overflow-scrolling: touch;
	text-rendering: optimizeSpeed;
	margin: 0;
	overflow: hidden;
}

li a:hover {
	background-color: unset;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}