.view {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 0fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. .';
}

.view .gradient {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(-45deg, #00ff68, #23a6d5, #00ffe9, #23d5ab);
	background-size: 400% 400%;
}

.view form {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 968px;
	height: 80%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1.4fr 0.6fr;
	gap: 0px 0px;
	grid-template-areas:
		'.'
		'.'
		'.';
}

.view picture {
	display: flex;
	align-items: center;
	justify-content: center;
}

.view img {
	min-width: 150px;
	height: 150px;
	background: #eaeaea;
	border-radius: 50%;
	border: none;
	overflow: hidden;
}

.view section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.view p {
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.view p a {
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #3d3d3d;
}

.view input {
	width: 100%;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	height: 52px;
	margin: 20px auto;
	padding-left: 10px;
}

.view button {
	width: 100%;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	height: 52px;
	margin: 20px auto;
}

@media screen and (orientation:landscape) and (min-width: 968px) {
	.view {
		grid-template-columns: 1fr 1fr;
	}

	.view form {
		width: 80%;
	}
}
