/*Home view*/
.home-view {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0.8fr 2.2fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. .';
	width: 100%;
	height: 100%;
}

.categories {
	border-right: 1px solid #c4c4c4;
}

.categories header {
	height: 52px;
	width: 100%;
	background: #000;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	color: #fff;
}

.categories header > :nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.categories header > :first-child {
	display: flex;
	justify-content: center;
	align-items: center;
}

.categories header img {
	width: 32px;
	height: 32px;
	background: gray;
	border-radius: 50%;
}

.categories header > :last-child {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.categories ul {
	margin: 0;
	height: 100%;
	padding-inline-start: 0px;
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	background: unset;
}

.categories li a:hover {
	background-color: unset;
}

.categories li {
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	padding-left: 20px;
	height: 64px;
	display: flex;
	color: #c4c4c4;
	align-items: center;
	border-bottom: 1px solid #c4c4c4;
	transition: color ease-out 220ms;
}

.categories li:hover {
	color: #3d3d3d;
}

/*Posts view*/

.posts-view,
.post-view {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0.8fr 0.8fr 1.4fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	width: 100%;
	height: 100%;
}

.posts {
	border-right: 1px solid #c4c4c4;
	overflow: hidden;
}

.posts header {
	height: 52px;
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 0.8fr 1.4fr 0.8fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	color: #000;
	border-bottom: 1px solid #c4c4c4;
}

.posts header img {
	width: 32px;
	height: 32px;
	background: gray;
	border-radius: 50%;
}

.posts header div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.posts header > :nth-child(2) {
	justify-content: flex-start;
}

.posts ul {
	margin: 0;
	height: 100%;
	padding-inline-start: 0px;
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	background: unset;
}

.posts li {
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	padding-left: 20px;
	min-height: 64px;
	display: flex;
	color: #c4c4c4;
	align-items: center;
	border-bottom: 1px solid #c4c4c4;
	transition: color ease-out 220ms;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.posts li h3 {
	margin: 0;
	margin-bottom: 8px;
}

.posts li p {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box !important;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.posts li:hover {
	color: #3d3d3d;
}

/*Post view*/

.post header {
	height: 52px;
	width: 100%;
	color: #000;
	border-bottom: 1px solid #c4c4c4;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
}

.post header > :nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.post header > :last-child {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
}

.post section {
	margin: 0px;
	border-bottom: 1px solid #c4c4c4;
}

.post h2,
.post p {
	margin: 0;
}


.post section > * {
	width: 90%;
	max-width: 700px;
}

.post h2, .post div {
	margin: 0px auto;
	padding: 10px 0px;
}

.post p {
	margin: 0px auto;
	padding: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box !important;
	white-space: normal;
}

.post form {
	margin: 0px auto;
	width: 90%;
}

.comments {
	margin: 0;
	padding-inline-start: 0px;
	overflow: hidden;
	overflow-y: auto;
	background: #fafafa;
	height: 100%;
}

.comments li {
	min-height: 64px;
	width: 100%;
	display: grid;
	background: #fff;
	grid-auto-columns: 1fr;
	grid-template-columns: 90px 1fr 120px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	border-bottom: 1px solid #c4c4c4;
}

.comments li > * {
	display: flex;
	align-items: center;
}

.comments li > :first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.comments li > :last-child {
	padding: 20px;
}

.comments img {
	width: 42px;
	height: 42px;
	background: gray;
	border-radius: 50%;
}

/*Empty container*/

.empty {
	display: flex;
	justify-content: center;
	align-items: center;
}

.empty h2 {
	font-size: 2rem;
	color: #c4c4c4;
}

/*RESET LINKS STILING*/
.categories a,
.posts a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	padding: unset;
	text-align: unset;
}

.categories a:hover,
.posts a:hover {
	background-color: unset;
}

.posts header > :nth-child(2) {
	text-transform: capitalize;
}

.posts button {
	border: 1px solid rgb(212, 28, 71);
	background: rgb(212, 28, 71);
	color: #fff;
	border-radius: 8px;
	padding: 4px 10px;
	transition: background ease-out 220ms;
}

.posts button:hover {
	border: 1px solid #9d1535;
	background: #9d1535;
}

.categories a {
	display: flex;
	align-items: center;
}

.empty-posts {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	color: #3d3d3d;
}

/* NEW POST */

.new-post-modal {
	background: #fff;
	top: 50%;
	left: 50%;
	width: 75%;
	min-height: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
}

.post-textarea {
	width: 90%;
	height: 200px;
	border-radius: 5px;
}

.post-title {
	width: 90%;
	border-radius: 5px;
}

.post-button {
	background-color: #9d1535;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.cancel-button {
	background-color: lightgray;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

.edit-button{
	border: 1px solid rgb(212, 28, 71);
	background: rgb(212, 28, 71);
	color: #fff;
	border-radius: 8px;
	padding: 4px 10px;
	transition: background ease-out 220ms;
}

.edit-button:hover {
	border: 1px solid #9d1535;
	background: #9d1535;
}

.post-button,
.cancel-button{
	border-radius: 10px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
	font-weight: bold;
	transition-duration: 0.4s;
	cursor: pointer;
	margin-top: 1px;
	margin-bottom: 1px;
	outline-style: none;
	border-style: none;
}

.post-button:hover,
.cancel-button:hover,
.edit-button:hover {
	background-color: black;
	color: white;
}

.comment-container {
	width: 100%;
	min-height: 140px;
	margin: 50px 0px;
	
}

.comment-container textarea {
	min-height: 140px;
	width: 100%;
	border-radius: 12px;
	padding: 10px 10px;
	border: 1px solid #c4c4c4;
}

.comment-container div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comment-container button {
	border: 1px solid rgb(212, 28, 71);
	background: rgb(212, 28, 71);
	color: #fff;
	border-radius: 8px;
	padding: 4px 10px;
	transition: background ease-out 220ms;
}

.comment-container button:hover {
	border: 1px solid #9d1535;
	background: #9d1535;
}