/*Home view*/
.home-view {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. .';
	width: 100%;
	height: 100%;
}

.categories {
	border-right: 1px solid #242226;
}

.categories button {
	border: none;
	background: none;
}

.categories button div {
	width: 24px;
	height: 24px;
	mask-size: cover;

	background-color: #fafafa;
	transition: background-color ease-out 220ms;
}

.categories button div {
	mask-image: url('/assets/icons/log-out.svg');
	-webkit-mask-image: url('/assets/icons/log-out.svg');
}

.categories header {
	height: 52px;
	width: 100%;
	background: #39353c;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 100px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. .';
	color: #fff;
}

.categories header > :first-child {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
	align-items: center;
}

.categories header img {
	width: 32px;
	height: 32px;
	background: gray;
	border-radius: 50%;
}

.categories header > :last-child {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 10px;
}

.categories ul {
	margin: 0;
	height: 100%;
	padding-inline-start: 0px;
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	padding-top: 8px;
	background: #565158;
	color: #cccbcd;
	flex-direction: column;
}

.categories li {
	cursor: pointer;
	list-style-type: none;
	margin: 0;
	padding: 4px 20px;
	display: flex;
	align-items: center;
	transition: color ease-out 220ms;
}

.categories li a {
	padding: 6px 16px;
	border-radius: 8px;
	transition: background ease-out 220ms;
}

.categories li a:hover {
	background: #6d6970;
}

.categories li.selected a {
	background: rgb(212, 28, 71, 0.8);
	color: #fff;
}

.categories li:hover {
	color: #fafafa;
}

/*Posts view*/

.posts-view,
.post-view {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 250px 350px 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	width: 100%;
	height: 100%;
}

.posts {
	border-right: 1px solid #c4c4c4;
	overflow: hidden;
}

.posts header {
	height: 52px;
	width: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 10px 1fr 10px;
	grid-template-rows: 1fr;
	background: #39353c;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	color: #fff;
}

.posts header img {
	width: 32px;
	height: 32px;
	background: gray;
	border-radius: 50%;
}

.posts header div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.posts header > :last-child {
	justify-content: flex-end;
	padding-right: 12px;
}

.posts ul {
	margin: 0;
	height: 100%;
	padding-inline-start: 0px;
	overflow: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	background: #fff;
}

.posts li {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	height: 80px;
	max-height: 80px;
	background: #fff;
	color: #3d3d3d;
	align-items: center;
	border-bottom: 1px solid #c4c4c4;
	transition: color ease-out 220ms;
	padding: 14px;
	position: relative;
	
}

.posts li.selected a {
	color: rgb(212, 28, 71);
}

.posts li h3 {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	text-overflow: ellipsis;
}

.posts li p {
	margin-top: 10px;
	font-size: 0.8rem;
	display: -webkit-box !important;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	line-clamp: 1;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
	bottom: 0;
}

.posts li:hover {
	color: rgb(212, 28, 71, 0.7);
}

.posts button {
	border: none;
	background: none;
}

.posts button div {
	width: 24px;
	height: 24px;
	mask-size: cover;

	background-color: #fafafa;
	transition: background-color ease-out 220ms;
}

.posts button:hover div,
.posts button:focus div {
	background-color: rgb(212, 28, 71);
}

.posts button div {
	mask-image: url('/assets/icons/file-plus.svg');
	-webkit-mask-image: url('/assets/icons/file-plus.svg');
}

/*Post view*/

.post header {
	height: 52px;
	width: 100%;
	background: #39353c;
	color: #fff;
	border-bottom: 1px solid #c4c4c4;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
}

.post header > :nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
}

.post header > :last-child {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	padding-right: 40px;
}

.post section {
	margin: 0px;
	border-bottom: 1px solid #c4c4c4;
}

.post h2,
.post p {
	margin: 0;
}

.post section > * {
	width: 90%;
	max-width: 700px;
}

.post h2,
.post div {
	margin: 0px auto;
	padding: 10px 0px;
}

.post section > p {
	min-height: 200px;
	max-height: 250px;
	margin-top: 25px;
	margin-bottom: 20px;
	overflow: auto;
	border: 1px solid #3d3d3d;
	border-radius: 12px;
	padding: 8px 24px;
	text-align: justify;
}

.post section > div {
	padding: 0;
	margin-bottom: 16px;
}

.post section > div small {
	padding: 0px 10px;
}

.post p {
	margin: 0px auto;
	padding: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box !important;
	white-space: normal;
}

.post form {
	margin: 0px auto;
	width: 90%;
}

.post button {
	border: none;
	background: none;
}

.post button div {
	width: 24px;
	height: 24px;
	mask-size: cover;
	background-color: #fff;
	transition: background-color ease-out 220ms;
}

.post button:hover div,
.post button:focus div {
	background-color: rgb(212, 28, 71);
}

.post button:last-of-type {
	margin-left: 20px;
} 

.post button.edit div {
	mask-image: url('/assets/icons/edit.svg');
	-webkit-mask-image: url('/assets/icons/edit.svg');
}

.post button.delete div {
	mask-image: url('/assets/icons/trash-2.svg');
	-webkit-mask-image: url('/assets/icons/trash-2.svg');
}

.comments {
	margin: 0;
	padding-inline-start: 0px;
	overflow: hidden;
	overflow-y: auto;
	background: #fafafa;
	height: 100%;
}

.comments li {
	min-height: 64px;
	width: 100%;
	background: #fff;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 100px; 
	grid-template-rows: 1fr 1fr; 
	gap: 0px 0px;
	grid-template-areas: 
    ". delete-btn"
    ". delete-btn";
	border-bottom: 1px solid #c4c4c4;
}

.comments li div {
	grid-area: delete-btn;
}

.comments li > * {
	display: flex;
	align-items: center;
}

.comments span {
	font-size: 0.9rem;
}

.comments small {
	font-size: 0.85rem;
}

.comments li .me {
	color: rgb(212, 28, 71);
	font-style: italic;
}

.comments span, .comments small {
	padding-left: 20px;
}


.comments button {
	border: none;
	background: none;
}

.comments button div {
	width: 24px;
	height: 24px;
	mask-size: cover;

	background-color: #242226;
	transition: background-color ease-out 220ms;
}

.comments button:hover div,
.comments button:focus div {
	background-color: rgb(212, 28, 71) !important;
}

.comments button div {
	mask-image: url('/assets/icons/delete.svg');
	-webkit-mask-image: url('/assets/icons/delete.svg');
}



/*Empty container*/

.empty {
	display: flex;
	justify-content: center;
	align-items: center;
}

.empty h2 {
	font-size: 2rem;
	color: #c4c4c4;
}

/*RESET LINKS STILING*/
.categories a,
.posts a {
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
	padding: unset;
	text-align: unset;
}

.categories a:hover,
.posts a:hover {
	background-color: unset;
}

.categories a {
	display: flex;
	align-items: center;
}

.empty-posts {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	color: #3d3d3d;
}

/* NEW POST */

.new-post-modal {
	background: #fff;
	top: 50%;
	left: 50%;
	width: 75%;
	min-height: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
}

.post-textarea {
	width: 90%;
	height: 200px;
	border-radius: 5px;
}

.post-title {
	width: 90%;
	border-radius: 5px;
}

.post-button {
	background-color: #9d1535;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.cancel-button {
	background-color: lightgray;
	color: black;
	margin-left: auto;
	margin-right: auto;
}




.post-button,
.cancel-button {
	border-radius: 10px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
	font-weight: bold;
	transition-duration: 0.4s;
	cursor: pointer;
	margin-top: 1px;
	margin-bottom: 1px;
	outline-style: none;
	border-style: none;
}

.post-button:hover,
.cancel-button:hover,
.edit-button:hover {
	background-color: black;
	color: white;
}

.comment-container {
	width: 100%;
	min-height: 140px;
	margin: 50px 0px;
}

.comment-container textarea {
	min-height: 140px;
	width: 100%;
	border-radius: 12px;
	padding: 10px 10px;
	border: 1px solid #c4c4c4;
}

.comment-container div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.comment-container button {
	border: 1px solid rgb(212, 28, 71);
	background: rgb(212, 28, 71);
	color: #fff;
	border-radius: 8px;
	padding: 4px 10px;
	transition: background ease-out 220ms;
}

.comment-container button:hover {
	border: 1px solid #9d1535;
	background: #9d1535;
}
