.music main {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
	gap: 0px 0px;
	grid-template-areas: '. .';
    overflow-y: auto;
    overflow-x: hidden;
}

.song {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song a {
    background: #eaeaea;
    width: 80%;
    max-width: 80%;
    height: 70%;
    max-height: 70%;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
    color: #000;
    overflow: hidden;
}

.song h2, .song h3 {
    margin: 0;
    padding: 0;
}

.song h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.song h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.song span {
    font-size: 0.8rem;
}

/*SELECTED song*/

.selected-song {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr;
	grid-template-rows: 52px 1fr;
	gap: 0px 0px;
	grid-template-areas:
		'.'
		'.';
}

.selected-song header {
	height: 52px;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 0px 16px;
}

.selected-song header a {
    display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
}

.selected-song .back {
    width: 24px;
	height: 24px;
	mask-size: cover;
    background-color: #3d3dd3;
	mask-image: url('/assets/icons/back.svg');
	-webkit-mask-image: url('/assets/icons/back.svg');
}

.selected-song header > :last-child {
    width: 24px;
}

.selected-song main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

